﻿<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        @*<title>Free Home Shoppe Website Template | Home :: w3layouts</title>*@
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href= @Url.Content("/Content/css/style.css") rel="stylesheet" type="text/css" media="all" />
        <link href=@Url.Content("/Content/css/slider.css") rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src=@Url.Content("/Content/js/jquery-1.7.2.min.js")></script>
        <script type="text/javascript" src=@Url.Content("/Content/js/move-top.js")></script>
        <script type="text/javascript" src=@Url.Content("/Content/js/easing.js")></script>
        <script type="text/javascript" src=@Url.Content("/Content/js/startstop-slider.js")></script>
    </head>
    <body>
        <div class="wrap">
            <div class="header">
                @*<div class="headertop_desc">
                    <div class="call">
                        <p><span>Need help?</span> call us <span class="number">1-22-3456789</span></span></p>
                    </div>
                    <div class="account_desc">
                        <ul>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Delivery</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>*@
                <div class="header_top">
                    <div class="logo">
                        <a href="@Url.Action("Index","Home")"><img src=@Url.Content("/Content/images/logo.png") alt="" /></a>
                    </div>
                    <div class="cart">
                        <p>
                            Welcome to our Online Store! <span>Cart:</span><div id="dd" class="wrapper-dropdown-2">
                                0 item(s) - $0.00
                                <ul class="dropdown">
                                    <li>you have no items in your Shopping cart</li>
                                </ul>
                            </div>
                        </p>
                    </div>
                    <script type="text/javascript">
                        function DropDown(el) {
                            this.dd = el;
                            this.initEvents();
                        }
                        DropDown.prototype = {
                            initEvents: function () {
                                var obj = this;

                                obj.dd.on('click', function (event) {
                                    $(this).toggleClass('active');
                                    event.stopPropagation();
                                });
                            }
                        }

                        $(function () {

                            var dd = new DropDown($('#dd'));

                            $(document).click(function () {
                                // all dropdowns
                                $('.wrapper-dropdown-2').removeClass('active');
                            });

                        });

                    </script>
                    <div class="clear"></div>
                </div>
                <div class="header_bottom">
                    <div class="menu">
                        <ul>
                            <li class="active">@Html.ActionLink("Home","Index","Home")</li>
                            <li>@Html.ActionLink("About","Index","About") </li>
                            <li>@Html.ActionLink("Contact","Index","contact")</li>
                            @*<li><a href="about.html">About</a></li>
                            <li><a href="delivery.html">Delivery</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            @*<div class="clear"></div>*@
                        </ul>
                    </div>
                    <div class="search_box">
                        <form>
                            <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_slide">
                    <div class="header_bottom_left">
                        <div class="categories">
                            <ul>
                                <h3>Categories</h3>
                                <li><a href="#">Mobile Phones</a></li>
                                <li><a href="#">Desktop</a></li>
                                <li><a href="#">Laptop</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Software</a></li>
                                <li><a href="#">Sports &amp; Fitness</a></li>
                                <li><a href="#">Footwear</a></li>
                                <li><a href="#">Jewellery</a></li>
                                <li><a href="#">Clothing</a></li>
                                <li><a href="#">Home Decor &amp; Kitchen</a></li>
                                <li><a href="#">Beauty &amp; Healthcare</a></li>
                                <li><a href="#">Toys, Kids &amp; Babies</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header_bottom_right">
                        <div class="slider">
                            <div id="slider">
                                <div id="mover">
                                    <div id="slide-1" class="slide">
                                        <div class="slider-img">
                                            <a href="preview.html"><img src=@Url.Content("/Content/images/slide-1-image.png") alt="learn more" /></a>
                                        </div>
                                        <div class="slider-text">
                                            <h1>Clearance<br><span>SALE</span></h1>
                                            <h2>UPTo 20% OFF</h2>
                                            <div class="features_list">
                                                <h4>Get to Know More About Our Memorable Services </h4>
                                            </div>
                                            <a href="preview.html" class="button">Buy Now</a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="slide">
                                        <div class="slider-text">
                                            <h1>Clearance<br><span>SALE</span></h1>
                                            <h2>UPTo 40% OFF</h2>
                                            <div class="features_list">
                                                <h4>Get to Know More About Our Memorable Services</h4>
                                            </div>
                                            <a href="preview.html" class="button">Buy Now</a>
                                        </div>
                                        <div class="slider-img">
                                            <a href="preview.html"><img src=@Url.Content("/Content/images/slide-3-image.jpg") alt="learn more" /></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="slide">
                                        <div class="slider-img">
                                            <a href="preview.html"><img src=@Url.Content("/Content/images/slide-2-image.jpg") alt="learn more" /></a>
                                        </div>
                                        <div class="slider-text">
                                            <h1>Clearance<br><span>SALE</span></h1>
                                            <h2>UPTo 10% OFF</h2>
                                            <div class="features_list">
                                                <h4>Get to Know More About Our Memorable Services </h4>
                                            </div>
                                            <a href="preview.html" class="button">Buy Now</a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="main">
                <div class="content">
                    <div class="content_top">
                        <div class="heading">
                            <h3>New Products</h3>
                        </div>
                        <div class="see">
                            <p><a href="#">See all Products</a></p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="section group">
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview.html"><img src=@Url.Content("/Content/images/feature-pic1.jpg") alt="" /></a>
                            <h2>Desktop </h2>
                            <div class="price-details">
                                <div class="price-number">
                                    <p><span class="rupees">$620.87</span></p>
                                </div>
                                <div class="add-cart">
                                    <h4><a href="preview.html">Buy now</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview.html"><img src=@Url.Content("/Content/images/feature-pic2.jpg") alt="" /></a>
                            <h2>Hpme Theatre </h2>
                            <div class="price-details">
                                <div class="price-number">
                                    <p><span class="rupees">$899.75</span></p>
                                </div>
                                <div class="add-cart">
                                    <h4><a href="preview.html">Buy now</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview.html"><img src=@Url.Content("/Content/images/feature-pic3.jpg") alt="" /></a>
                            <h2>Nikon Camera </h2>
                            <div class="price-details">
                                <div class="price-number">
                                    <p><span class="rupees">$599.00</span></p>
                                </div>
                                <div class="add-cart">
                                    <h4><a href="preview.html">Buy now</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview.html"><img src=@Url.Content("/Content/images/feature-pic4.jpg") alt="" /></a>
                            <h2>Desktop</h2>
                            <div class="price-details">
                                <div class="price-number">
                                    <p><span class="rupees">$679.87</span></p>
                                </div>
                                <div class="add-cart">
                                    <h4><a href="preview.html">Buy now</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="content_bottom">
                        <div class="heading">
                            <h3>Feature Products</h3>
                        </div>
                        <div class="see">
                            <p><a href="#">See all Products</a></p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="section group">
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview.html"><img src=@Url.Content("/Content/images/new-pic1.jpg") alt="" /></a>
                            <h2>Canon Camera </h2>
                            <div class="price-details">
                                <div class="price-number">
                                    <p><span class="rupees">$849.99</span></p>
                                </div>
                                <div class="add-cart">
                                    <h4><a href="preview.html">Buy now</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview.html"><img src=@Url.Content("/Content/images/new-pic2.jpg") alt="" /></a>
                            <h2>Home Theatre </h2>
                            <div class="price-details">
                                <div class="price-number">
                                    <p><span class="rupees">$599.99</span></p>
                                </div>
                                <div class="add-cart">
                                    <h4><a href="preview.html">Buy now</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview.html"><img src=@Url.Content("/Content/images/new-pic4.jpg") alt="" /></a>
                            <h2>LED TV </h2>
                            <div class="price-details">
                                <div class="price-number">
                                    <p><span class="rupees">$799.99</span></p>
                                </div>
                                <div class="add-cart">
                                    <h4><a href="preview.html">Buy now</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview.html"><img src=@Url.Content("/Content/images/new-pic3.jpg") alt="" />></a>
                            <h2>Home Theatre </h2>
                            <div class="price-details">
                                <div class="price-number">
                                    <p><span class="rupees">$899.99</span></p>
                                </div>
                                <div class="add-cart">
                                    <h4><a href="preview.html">Buy now</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="wrap">
                <div class="section group">
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Customer Service</a></li>
                            <li><a href="#">Advanced Search</a></li>
                            <li><a href="delivery.html">Orders and Returns</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>Why buy from us</h4>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Customer Service</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="contact.html">Site Map</a></li>
                            <li><a href="#">Search Terms</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>My account</h4>
                        <ul>
                            <li><a href="contact.html">Sign In</a></li>
                            <li><a href="index.html">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="contact.html">Help</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>Contact</h4>
                        <ul>
                            <li><span>+91-123-456789</span></li>
                            <li><span>+00-123-000000</span></li>
                        </ul>
                        <div class="social-icons">
                            <h4>Follow Us</h4>
                            <ul>
                                <li><a href="#" target="_blank"><img src=@Url.Content("/Content/images/facebook.png") alt="" /></a></li>
                                <li><a href="#" target="_blank"><img src=@Url.Content("/Content/images/twitter.png") alt="" /></a></li>
                                <li><a href="#" target="_blank"><img src=@Url.Content("/Content/images/skype.png") alt="" /> </a></li>
                                <li><a href="#" target="_blank"> <img src=@Url.Content("/Content/images/dribbble.png") alt="" /></a></li>
                                <li><a href="#" target="_blank"> <img src=@Url.Content("/Content/images/linkedin.png") alt="" /></a></li>
                                @*<div class="clear"></div>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy_right">
                <p>&copy; 2013 home_shoppe. All rights reserved </p>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <a href="#" id="toTop"><span id="toTopHover"> </span></a>
        @RenderBody()
    </body>
</html>
